@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
}

body{
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
    padding-right: 0;
}

.right {
    width: 75vw;
    margin: 15px 0;
    margin-right: 10px;
    /* position: relative; */
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.libraryheading {
    display: flex;
    gap: 15px;
    width: 34px;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    font-size: 12px;
}

.libraryheading img {
    width: 30px;
}

.library{
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 10px;
    position: absolute;
    bottom: 0;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.footer a {
    color: grey;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    height: 60px;
}

.header > * {
    padding: 5px;
}


.spotifyPlaylists {
    padding: 16px;
}

.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: scroll;
    max-height: 70vh;
    /* justify-content: center; */
}

.spotifyPlaylists .card {
    width: 200px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #252525;
    /* position: relative; */
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card > * {
    padding-top: 10px;
}

.check {
    position: relative;
    padding: 0;
}

.playCircle {
    width: 20px;
    height: 20px;
    background-color: #1fdf64;
    border-radius: 50%;
    border: 1px solid #000;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 190px;
    right: 10px;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.card:hover {
    background-color: #000;
    cursor: pointer;
    transition: background-color 0.5s ease-out;

    .playCircle {
        opacity: 1;
        top: 180px;
    }
}

.signupBtn {
    background-color: rgb(34, 34, 34);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    color: grey;
    padding: 7px;
    border-radius: 1rem;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
}

.signupBtn:hover {
    font-size: 1.01em;
    color: white;
} 


.loginBtn {
    background-color: white;
    color: rgb(39, 39, 39);
    padding: 7px;
    border-radius: 1rem;
    margin: 10px;
    margin-left: 0;
    font-size: 15px;
    border: none;
    outline: none;
    font-weight: bold; 
    cursor: pointer;
    width: 4rem;
}

.loginBtn:hover {
    font-size: 1.01em;
    color: black;
    width: 4.1rem;
}

.playbar {
    bottom: 20px;
    position: fixed;
    background-color: #515c5e7b;
    width: 70vw;
    padding: 12px;
    border-radius: 3px;
    height: 30px;
}

.songButtons {
    display: flex;
    justify-content: center;
    gap: 16px;
    height: 30px;
}

.songList ul {
    padding: 0;
    margin-top: 20px;
    list-style: none;
    list-style-type: decimal;
}

.songList ul li{
    display: flex;
    gap: 20px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid white;
    border-radius: 3px;
    margin: 12px;
    justify-content: space-between;
}

.playNow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playNow span {
    font-size: 15px;
    width: 80px;
}

.songList .info {
    font-size: 15px;
    width: 344px;
}

.songList{
    height: 544px;
    overflow: auto;
    margin: 30px 0;
}

.seekbar {
    height: 1px;
    width: 97%;
    border: 2px solid rgb(179, 179, 179);
    /* background-color: white; */
    border-radius: 10px;
    position: absolute;
    /* bottom: 0; */
    top: 0;
    margin: 5px;
    cursor: pointer;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 13px;
    background-color: white;
    position: relative;
    bottom: 4px;
    left: 0%;
    transition: left 0.2s;
}

.aboveBar {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
}

.songInfo, .songTime {
    padding: 0 12px;
    width: auto;
}

.hamburger {
    display: none;
}

@media (max-width: 1400px){
    .left {
        position: absolute;
        left: -120%;
        transition: all 0.3s;
        width: 373px;
        background-color: #000;
        padding: 0;
        padding-top: 10px;
    }
    .right{
        width: 100vw;
        /* height: 100vw; */
    }
    .playbar{
        width: 95vw;
    }

    .hamburger {
        display: inline;
    }

    .left .close {
        display: inline;
        position: absolute;
        right: 20px;
        top: 25px;
        width: 29px;
    }
    
    .playbar {
        width: calc(100vw-60px);
    }

    .seekbar {
        width: calc(100vw-70px);
    }
}

.close {
    display: none;
}

@media (max-width:499px){
    .aboveBar {
        /* width: 354px; */
        font-size: 12px;
    }
}

@media (max-width:570px){
    .cardContainer {
        justify-content: center;
    }
    .card {
        width: 90vw;
    }
}

.timenvol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.volumeimg {
    cursor: pointer;
}

.range {
    margin-top: 3px;
    accent-color: rgb(47, 172, 59);
}

.range input {
    cursor: pointer;
}


@media (max-width:725px){
    .timenvol{
        display: block;
    }
    .songButtons, .volume{
        height: 20px;
    }
    .songTime{
        display: flex;
        justify-content: center;
    }
    .aboveBar{
        font-size: 12px;
    }
}
