.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.red-border {
    border: 2px solid red;
    margin: 3px;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
    color: white;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 15px;
}

.nowrap {
    text-wrap: nowrap;
}

.wrap {
    text-wrap: wrap;
}

/* WebKit-based browsers */
::-webkit-scrollbar {
    width: 12px;  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #1e1e1e; /* Track background (the empty space in the scrollbar) */
}

::-webkit-scrollbar-thumb {
    background-color: #444;  /* Scrollbar handle color */
    border-radius: 6px;      /* Roundness of the scrollbar handle */
    border: 2px solid #1e1e1e;  /* Space around the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;  /* Handle color on hover */
}

/* For Firefox */
html {
    scrollbar-width: thin;        /* Makes the scrollbar thinner */
    scrollbar-color: #444 #1e1e1e; /* Handle and track colors */
}

html:hover {
    scrollbar-color: #555 #1e1e1e; /* Hover effect for Firefox */
}
